.container{
   background-color: rgb(210, 234, 232);
}
.header{
   height: 60px;
   width: 100%;
   background-color: rgb(154, 209, 206);
   margin-bottom: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.intro{
   height: 400px;
   width: 60%;
   background-color: rgb(154, 209, 206) ;
   margin-left: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.one{
   display:flex;
}
.hero{
   height: 80%;
   width: 600px;
   background-color: rgb(154, 209, 206);
   margin-left: 10px;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.call{
   height: 18%;
   width: 600px;
   background-color: rgb(154, 209, 206);
    margin-left: 10px;
   margin-right: 10px;
   margin-top: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.features{
   height: 70px;
   width: 1500px;
   background-color: rgb(154, 209, 206);
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.three{
   display: flex;
}
.more{
   height: 70px;
   width: 60%;
   background-color: rgb(154, 209, 206);
   margin-left: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.act{
   height: 70px;
   width: 40%;
   background-color: rgb(154, 209, 206);
   margin-left: 10px;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer{
   height: 70px;
   width: 100%;
   background-color: rgb(154, 209, 206);
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

