.header{
    background-color: lightgray;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.box{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 505px;
    height: 400px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main, .right{
    width: 497.5px;
    height: 305px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.footer{
    width: 1000px;
    height: 90px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items:center;
}