/* .container{
   
}
.head, .foot{
   width: 100%;
   height: 50px;
   background-color: lightgray;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav, .aside1{
   width: 100%;
   height: 30px;
   background-color: lightgray;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.middle{
   display: flex;
   
}
.main{
   height: 300px;
   width: 800px;
   background-color: lightgray;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.aside, .section{
   display: flex;
   height: 147.5px;
   width: 750px ;
   background-color: lightgray;
   margin-left: 5px;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;

} */







.container {
   max-width: 1200px;
   margin: 0 auto;
}
.head, .foot {
   width: 100%;
   height: 50px;
   background-color: lightgray;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav {
   width: 100%;
   height: 30px;
   background-color: lightgray;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.middle {
   display: flex;
   margin-bottom: 5px;
}
.aside {
   width: 200px;
   background-color: lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 5px;
}
.main {
   flex: 1;
   background-color: lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
}
.section {
   width: 90%;
   height: 80%;
   background-color: #e0e0e0;
   display: flex;
   justify-content: center;
   align-items: center;
}












