#hi{
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
}
.head, .foot{
   width: 100%;
   height: 100px;
   border: 1px solid black; 
   display: flex;
   align-items: center;
   justify-content: center;
}
#two{
   display: flex;
}
.ind{
   height: 200px;
   width: 30%;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
}
.content{
   height: 200px;
   width: 70%;
   border: 1px solid black; 
   display: flex;
   align-items: center;
   justify-content: center;
}
