.container{
   text-align: center;
}
.header{
   width: 100%;
   height: 70px;
   background-color: rgb(212, 209, 33);
   

}
.one{
   display: flex;
}
.nav{
   height: 500px;
   width: 30%;
   background-color: blue;
}
.article{
   height: 500px;
   width: 70%;
   background-color: green;
}
.footer{
   height: 40px;
   width: 100%;
   background-color: red;
}