*{
  margin: 0px;
  padding: 0px;
}
.container{
  position: relative;
  height: 500px;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.par1{
  height: 400px;
  width: 40%;
  background-color: rgb(244, 92, 92);
}
.ch1{
  height: 100px;
  display: flex;  
}
.ch2{
  display: flex;
  height: 300px;
}
.par2{
  display: flex;
  height: 400px;
  width: 50%;
  background-color: white;
}
.line{
  color: white;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
.br{
  width: 20%;
}
.admit{
  color: white;
  width: 20%;
  font-size: larger;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.invitation{
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.num{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 200px;
  color: white;
}
.dash{
  color: white;
  font-size: 20px;
  font-weight: bold;
   padding-left: 
}
.invite{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blank{
  height: 10px;
}
.sub{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pp1{
  height: 400px;
  width: 80%;
}
.pp2{
  height: 400px;
  width: 20%;
}
.emp{
  height: 50px;
  width: 49px;
}
.has{
  color: red;
  font-weight: bold;
  font-size: 50px;
}
.you{
  color: black;
  font-weight: bold;
  font-size: 110px;
  display: flex;
}
.spa{
  height: 30px;
}
.aa{
  width: 50px;
}
.ss{
  display: flex;
}
.date{
  display: flex;
  font-weight: 1000;
  justify-content: space-around;
}
.dott{
  font-size: 40px;
  color: red;
}
.tri1{
  width: 30px; 
  height: 30px; 
  background-color: red; 
  position: absolute; 
  transform: rotate(45deg);
  top: 35px;
  left: 676px;
}
.tri2{
  width: 30px; 
  height: 30px ; 
  background-color: red; 
  position: absolute; 
  transform: rotate(45deg);
  bottom: 35px;
  left: 676px;
}