*{
   margin: 0px;
   padding: 0px;
   height: 100%;
}
.container{
   position: relative;
   height: 50%;
   width: 70%; 
   border-radius: 40px ;
   display: flex;
   background-color: rgb(243, 240, 240);
}
.par1{
   background-image: url(filess/OIP.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 70%;
   height: 100%;

   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
}
.emp1{
   width: 15%;
   height: 20%;
   background-color: orchi
}
.head{
   background-color: rgb(85, 147, 219);
   position: absolute;
   height: 20%;
   width: 70%;
   display: flex;
   border-top-left-radius: 41px;
}
.pass{
   color: white;
   font-size: 30px;
}
.com{
   font-weight: 600;
   color: white;
}
.head1{
   position: absolute;
   top: 15px;
   left: 100px;
   border-top-left-radius: 50%;
}
img{
   position: absolute;
   z-index: 1;
   height: 40px;
   width: 230px;
   top: 160px;
   left: -45px;
   transform: rotate(90deg);
}
.pas{
   height: 20%;
   display: flex;
   gap: 100px;
   color: red;
   position: absolute;
   top: 90px;
   left: 100px;
}
.one{
   color: rgb(32, 58, 32);
   font-weight: 700;
   font-size: 13px;
}
.two{
   color: black;
   font-weight: bolder;
   font-size: 18px;
}
.place{
   position: absolute;
   top: 170px;
   left: 140px;
   font-size: 50px;
   font-weight: bold;
   height: 10%;
   width: 20%;
}
.gate{
   display: flex;
   position: absolute;
  
   top: 300px;
   left: 100px;
   gap: 150px;
}
.three{
   color:rgb(177, 7, 7);
   font-weight: 700;
   font-size: 13px;
}

.top{
   position: absolute;
   height: 20%;
   width: 30%;
   background-color: rgb(62, 6, 114);
   font-size: 35px;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   border-top-right-radius: 41px;
}
.passe{
   border-color: yellow;
   position: absolute;
   top: 90px;
   right: 200px;
}
.four{
   display: flex;
   position: absolute;
   top: 140px;
   right: 150px;
   gap: 50px;
}
.namme{
   position: absolute;
   top: 190px;
   right: 200px;
}
.nameeee{
   position: absolute;
   top: 240px;
   right: 258px;
}
.img{
   position: absolute;
   z-index: 1;
   height: 40px;
   width: 230px;
   top: 300px;
   left: 790px;
   transform: rotate(0deg);
}
.circle1{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: -7px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.cir{
   display: flex;
   flex-direction: row;
}
.circle2{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 45px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle3{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 100px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle4{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 150px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle5{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 200px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle6{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 250px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle7{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 300px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle8{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 345px;
   background-color: aliceblue;
   border-color: black;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}
.circle9{
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: black;
   left: 745px;
   top: 380px;
   background-color: aliceblue;
   border: 1px solid rgba(85, 62, 62, 0.5);
   opacity: 50%;
}